
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<!-- eklemeler kısmı css vs. -->
@await Html.PartialAsync("/Views/AdminLayout/HeadPartial.cshtml")

<body>
<!-- yukleme ekrani partial -->
@await Html.PartialAsync("/Views/AdminLayout/PreloaderPartial.cshtml")


<div id="main-wrapper">

<!--Nav header-->
		@await Html.PartialAsync("/Views/AdminLayout/NavHeaderPartial.cshtml")

<!-- Header -->
		@await Html.PartialAsync("/Views/AdminLayout/HeaderPartial.cshtml")

<!-- Sidebar -->

	@await Html.PartialAsync("/Views/AdminLayout/SideBarPartial.cshtml")


<!-- Content Body -- açılınca ilk gelen yer -->
<div class="content-body">

	<div class="container-fluid">
		<div class="row">
			<div class="col-12">
				<div class="card">
					<div class="card-body">
						<!-- Yazılanlar buraya düşecek -->
						<p>@RenderBody()</p>
						<br/>
						@await Html.PartialAsync("/Views/AdminLayout/HeadPartial.cshtml")
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- #/ container -->
</div>

<!-- Footer -->
@await Html.PartialAsync("/Views/AdminLayout/FooterPartial.cshtml")

</div>


<!-- Scripts -->
	@await Html.PartialAsync("/Views/AdminLayout/ScriptsPartial.cshtml")

</body>

</html>

